{% extends 'bIo9/layout.html' %}

{% block body %}
{% for comment in cur_page %}
	 				<div class="one_comment">
	 					<div class="row">
		 					<div class="col-lg-6 col-md-6 col-sm-6 one_comment_reply_to">
		 						<a href="{% url 'bIo9:show_user_page' comment.user.id %}" class="thumbnail tiny_photo"><img src="{{ comment.user.photo.url }}" class="photo_in_thumbnail"></a>
		 						<a href="{% url 'bIo9:show_user_page' comment.user.id %}" class="reply_user">{{ comment.user.nickname }}</a>
		 						{% if comment.reply_to %}
		 							 <span>reply to</span> 
		 						<a href="{% url 'bIo9:show_user_page' comment.user.id %}" class="reply_user">{{ comment.reply_to.user.nickname }}</a>
		 						{% endif %}
		 					</div>
			 				<div class="col-lg-6 col-md-6 col-sm-6 one_comment_time">
			 					floor-{{ comment.my_floor }} | reply time : {{ comment.create_time|date:'Y-m-d H:i:s' }}
			 				</div>
						</div>
	 					<div class="one_comment_content">
		 					{{ comment.content }}
		 				</div>
	 				</div>
	 			{% endfor %}
				<!-- pagination -->
				<div class="pagination">
					{% if cur_page.has_previous %}
						<a href="?page={{ cur_page.previous_page_number }}">previous</a>
					{% endif %}
						{{ cur_page.number}}
					{% if cur_page.has_next %}
						<a href="?page={{ cur_page.next_page_number }}">next</a>
					{% endif %}
				</div>
{% endblock %}