{% extends 'bIo9/layout.html' %}

{% block body %}
<div class="container-fluid">
	<div class="rows">
		<div class="col-lg-3 col-md-3 col-sm-2 col-xs-1"></div>
		<div class="col-lg-6 col-md-6 col-sm-8 col-xs-10" id="register_zone">
			<h2><strong>Reset Password</strong></h2>
			<form action="{% url 'bIo9:reset_password' %}" method="post" id="form_register" role="form">
				{% csrf_token %}
				{% for field in form %}
					<div class="form-group">
						<label>{{ field.label_tag }}</label>
						{{ field }}
						{{ field.errors }}
					</div>
				{% endfor %}
				<button type="submit" class="btn btn-primary pull-right" id="btn_register">send email</button>
				<input type="hidden" name="next" value="{{ next }}" />
			</form>			
		</div>
		<div class="col-lg-3 col-md-3 col-sm-2 col-xs-1"></div>
	</div>
</div>
{% endblock %}
